{% extends 'base.html' %}
{% block title%}Games{% endblock %}
{% block content %}
        <!--=====================================-->
        <!--=           Category Start        	=-->
        <!--=====================================-->
        <section class="inner-page-banner bg-common" data-bg-image="static/media/figure/banner1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-area">
                            <h1>Supported Games</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=           Category Start        	=-->
        <!--=====================================-->
        <section class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10">

                        {% for game in games %}
                        <div class="post-list-layout3 align-items-center">
                        <a href="/games/{{game.id}}/mods">
                            <div class="item-img">
                            <img src="{{game.game_image}}_sm.jpg" alt="Post">
                            <div class="item-tag bg-blueviolet">{{game.game_genre}}</div>
                            </div>
                        </a>
                            <div class="item-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="flaticon-clock"></i> {{game.release_year}}</li>
                                        <li class="item-author"><i class="flaticon-user bg-green"></i><span>By</span>{{game.game_developer}}</li>
                                    </ul>
                                </div>
                                <h3 class="item-title"><a href="/games/{{game.id}}/mods"> {{game.game_title}}</a></h3>
                                <p>{{game.description}}</p>
                                <a href="/games/{{game.id}}/mods" class="btn-fill-md">Select This Game</a>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <!--Will be implemented at a later date 
                            <div class="pagination-layout1">
                            <ul>
                                <li><a href="#" class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                            </ul>
                        </div> -->
                    </div>
                    
                </div>
            </div>
        </section>
{% endblock %}