{% extends 'base.html' %}
{% block title %}Games{% endblock %}
{% block content %}
        <!--=====================================-->
        <!--=           Category Start        	=-->
        <!--=====================================-->
        <section class="inner-page-banner bg-common" data-bg-image="/static/media/figure/banner1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-area">
                            <h1>Archives Page</h1>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>Archives</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=           Category Start        	=-->
        <!--=====================================-->
        <section class="inner-section">
            <div class="container">
                <div class="row gutters-40">
                    <div class="col-xl-9">
                        <div class="post-search-filter">
                            <form action="#">
                                <ul>
                                    <li class="form-group">
                                        <select class="select2" name="year">
                                            <option value="0">Select Year</option>
                                            <option value="1">2020</option>
                                            <option value="2">2019</option>
                                            <option value="3">2018</option>
                                            <option value="4">2017</option>
                                        </select>
                                    </li>
                                    <li class="form-group">
                                        <select class="select2" name="month">
                                            <option value="0">Select Month</option>
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9">Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>
                                    </li>
                                    <li class="form-group">
                                        <select class="select2" name="month">
                                            <option value="0">Select Category</option>
                                            <option value="1">Action</option>
                                            <option value="2">Adventure</option>
                                            <option value="3">Racing</option>
                                            <option value="4">Mission</option>
                                            <option value="5">Fighter</option>
                                            <option value="6">Animation</option>
                                            <option value="7">Others</option>
                                        </select>
                                    </li>
                                    <li class="form-group submit-btn">
                                        <button type="submit">SEARCH</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="post-list-layout3 post-grid16">
                                    <div class="item-img">
                                        <img src="/static/media/post/post61.jpg" alt="Post">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-tag bg-light-green">Racing</div>
                                        <div class="post-meta">
                                            <ul>
                                                <li><i class="flaticon-clock"></i> 27 June, 2019</li>
                                                <li class="item-author"><i class="flaticon-user bg-green"></i><span>By</span><a href="#">Mark Willy</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="item-title"><a href="#">My microwa smallernear fiteraty auctor augue.</a></h3>
                                        <p>Games hen an unknown printer took a galley of type
                                            scrambled it to make a type specimen book. It has
                                            survived not only five centuries</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-list-layout3 post-grid16">
                                    <div class="item-img">
                                        <img src="/static/media/post/post62.jpg" alt="Post">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-tag bg-orange">Adventure</div>
                                        <div class="post-meta">
                                            <ul>
                                                <li><i class="flaticon-clock"></i> 27 June, 2019</li>
                                                <li class="item-author"><i class="flaticon-user bg-dodger-blue"></i><span>By</span><a href="#">Mark Willy</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="item-title"><a href="#">My microwa smallernear fiteraty auctor augue.</a></h3>
                                        <p>Games hen an unknown printer took a galley of type
                                            scrambled it to make a type specimen book. It has
                                            survived not only five centuries</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-list-layout3 post-grid16">
                                    <div class="item-img">
                                        <img src="/static/media/post/post63.jpg" alt="Post">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-tag bg-green">Action</div>
                                        <div class="post-meta">
                                            <ul>
                                                <li><i class="flaticon-clock"></i> 27 June, 2019</li>
                                                <li class="item-author"><i class="flaticon-user bg-orange"></i><span>By</span><a href="#">Mark Willy</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="item-title"><a href="#">My microwa smallernear fiteraty auctor augue.</a></h3>
                                        <p>Games hen an unknown printer took a galley of type
                                            scrambled it to make a type specimen book. It has
                                            survived not only five centuries</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-list-layout3 post-grid16">
                                    <div class="item-img">
                                        <img src="/static/media/post/post64.jpg" alt="Post">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-tag bg-dribble">Fighter</div>
                                        <div class="post-meta">
                                            <ul>
                                                <li><i class="flaticon-clock"></i> 27 June, 2019</li>
                                                <li class="item-author"><i class="flaticon-user bg-twitter"></i><span>By</span><a href="#">Mark Willy</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="item-title"><a href="#">My microwa smallernear fiteraty auctor augue.</a></h3>
                                        <p>Games hen an unknown printer took a galley of type
                                            scrambled it to make a type specimen book. It has
                                            survived not only five centuries</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-list-layout3 post-grid16">
                                    <div class="item-img">
                                        <img src="/static/media/post/post65.jpg" alt="Post">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-tag bg-dodger-blue">Animation</div>
                                        <div class="post-meta">
                                            <ul>
                                                <li><i class="flaticon-clock"></i> 27 June, 2019</li>
                                                <li class="item-author"><i class="flaticon-user bg-light-green"></i><span>By</span><a href="#">Mark Willy</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="item-title"><a href="#">My microwa smallernear fiteraty auctor augue.</a></h3>
                                        <p>Games hen an unknown printer took a galley of type
                                            scrambled it to make a type specimen book. It has
                                            survived not only five centuries</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-list-layout3 post-grid16">
                                    <div class="item-img">
                                        <img src="/static/media/post/post66.jpg" alt="Post">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-tag bg-amaranth">Racing</div>
                                        <div class="post-meta">
                                            <ul>
                                                <li><i class="flaticon-clock"></i> 27 June, 2019</li>
                                                <li class="item-author"><i class="flaticon-user bg-dodger-blue"></i><span>By</span><a href="#">Mark Willy</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="item-title"><a href="#">My microwa smallernear fiteraty auctor augue.</a></h3>
                                        <p>Games hen an unknown printer took a galley of type
                                            scrambled it to make a type specimen book. It has
                                            survived not only five centuries</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-list-layout3 post-grid16">
                                    <div class="item-img">
                                        <img src="/static/media/post/post67.jpg" alt="Post">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-tag bg-dodger-blue">Racing</div>
                                        <div class="post-meta">
                                            <ul>
                                                <li><i class="flaticon-clock"></i> 27 June, 2019</li>
                                                <li class="item-author"><i class="flaticon-user bg-orange"></i><span>By</span><a href="#">Mark Willy</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="item-title"><a href="#">My microwa smallernear fiteraty auctor augue.</a></h3>
                                        <p>Games hen an unknown printer took a galley of type
                                            scrambled it to make a type specimen book. It has
                                            survived not only five centuries</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-list-layout3 post-grid16">
                                    <div class="item-img">
                                        <img src="/static/media/post/post68.jpg" alt="Post">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-tag bg-orange">Mission</div>
                                        <div class="post-meta">
                                            <ul>
                                                <li><i class="flaticon-clock"></i> 27 June, 2019</li>
                                                <li class="item-author"><i class="flaticon-user bg-dribble"></i><span>By</span><a href="#">Mark Willy</a></li>
                                            </ul>
                                        </div>
                                        <h3 class="item-title"><a href="#">My microwa smallernear fiteraty auctor augue.</a></h3>
                                        <p>Games hen an unknown printer took a galley of type
                                            scrambled it to make a type specimen book. It has
                                            survived not only five centuries</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="pagination-layout1 mt-5">
                            <ul>
                                <li><a href="#" class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="col-xl-3 sidebar-widget-xl">
                        <div class="widget widget-search">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control" placeholder="Search Story . . .">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="flaticon-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="widget widget-upcoming-post">
                            <div class="heading-layout1">
                                <h2 class="heading-title">Upcoming Games</h2>
                            </div>
                            <div class="post-list-layout2">
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post7.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post8.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post9.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post10.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-social">
                            <div class="heading-layout1">
                                <h2 class="heading-title">Follow Us On</h2>
                            </div>
                            <div class="social-box">
                                <div class="media">
                                    <div class="item-icon bg-fb">
                                        <i class="fab fa-facebook-f"></i>
                                    </div>
                                    <div class="media-body bg-fb2">
                                        <div class="item-title text-white">Followers</div>
                                        <div class="follower-number text-white">10,555</div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                    <div class="media-body bg-twitter2">
                                        <div class="item-title text-white">Followers</div>
                                        <div class="follower-number text-white">19,555</div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </div>
                                    <div class="media-body bg-google-plus2">
                                        <div class="item-title text-white">Followers</div>
                                        <div class="follower-number text-white">9,369</div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-dribble">
                                        <i class="fab fa-dribbble"></i>
                                    </div>
                                    <div class="media-body bg-dribble2">
                                        <div class="item-title text-white">Followers</div>
                                        <div class="follower-number text-white">11,599</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-ad">
                            <a href="#">
                                <img src="media/figure/ad3.jpg" alt="Ad">
                            </a>
                        </div>
                        <div class="widget widget-most-viewed">
                            <div class="heading-layout1">
                                <h3 class="heading-title">Most Viewed</h3>
                            </div>
                            <div class="grid-post">
                                <div class="item-img">
                                    <img src="/static/media/post/post28.jpg" alt="Post">
                                    <div class="item-tag bg-light">Scoccer</div>
                                </div>
                                <div class="item-content">
                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                    <h3 class="post-title"><a href="single-post1.html">Top 10 Best Computer games Speakers in the Market</a></h3>
                                </div>
                            </div>
                            <div class="list-post">
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post7.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post8.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post9.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="view-all-btn"><i class="flaticon-right-arrow"></i>View All Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}