<!doctype html>
<html class="no-js" lang="">

<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/media/favicon.png">

    <!-- Dependencies CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/all.min.css" type="text/css">
    <link rel="stylesheet" href="/static/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/static/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/static/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/owl.theme.default.min.css" type="text/css">
    <link rel="stylesheet" href="/static/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/sal.css" type="text/css">
    <link rel="stylesheet" href="/static/select2.min.css" type="text/css">
    <link rel="stylesheet" href="/static/nivo-slider.css" type="text/css">
    <link rel="stylesheet" href="/static/meanmenu.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/app.css" type="text/css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,700&display=swap" rel="stylesheet">

</head>

<body class="sticky-header bg-aash">
    <!--[if IE]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- Back To Top Start Here -->
    <a href="#main-wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- Back To Top End Here -->
    <div id="main-wrapper" class="fh-main-wrapper">

        <!--=====================================-->
        <!--=           Header Menu Start      =-->
        <!--=====================================-->
        <header class="header">
            <div id="header-topbar" class="header-topbar">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-8">
                            <div class="header-topbar-layout1">
                                <div class="header-top-left">
                                    <ul>
                                        {% if g.user %}
                                        <li><i class="far fa-user"></i><a href="/users/{{g.user.id}}">{{g.user.username}}</a></li>
                                        {% else %}
                                        <li><i class="far fa-user"></i><a href="/users/login">Log in / Register</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-end">
                            <div class="header-topbar-layout1">
                                <div class="header-top-right">
                                    <ul class="social-icon">
                                        {% if g.user %}
                                        <li><a href="/games/upload"><i class="fas fa-upload"></i>  Upload</a></li>
                                        <li><a href="/logout">Logout</i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rt-sticky-placeholder"></div>
            <div id="header-menu" class="header-menu menu-layout1">
                <div class="container">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-2">
                            <div class="logo-area">
                                <a href="/" class="temp-logo">
                                    <img src="/static/media/main-logo.png" alt="logo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-end position-static">
                            <nav id="dropdown" class="template-main-menu">
                                <ul>
                                    <li>
                                        <a href="/">HOME</a>
                                    </li>
                                    <li>
                                        <a href="/games">GAMES</a>
                                        
                                    </li>
                                    <li>
                                        {% if game_id %}
                                        <a href="/games/{{game_id}}/mods">MODS</a>
                                        {% else %}
                                        <a href="/mods/all">MODS</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <a href="/contact">CONTACT</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-2 d-flex justify-content-end">
                            <div class="header-action-layout1">
                                <ul>
                                    <!-- !!!!!!!!!!Search to be implemented!!!!!!!!!!!!! -->
                                    <!-- <li class="search-btn">
                                        <a href="#header-search" title="Search">
                                            <i class="flaticon-search"></i>
                                        </a>
                                    </li> -->
                                    <!-- <li class="toggle-btn">
                                        <button class="btn-icon sidebar-toggle">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="error-area">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                </div>
        {% block content %}
        

        {% endblock %}
        <!--=====================================-->
        <!--=            Footer Start           =-->
        <!--=====================================-->
        <footer class="footer-wrap">
            <div class="footer-top-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="footer-box">
                                <h3 class="footer-box-title">
                                    Useful Links
                                </h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/games">Games</a></li>
                                        {% if game_id %}
                                        <li><a href="/games/{{game_id}}/mods/">Mods</a></li>
                                        {% else %}
                                        <li><a href="/mods/all">Mods</a></li>
                                        {% endif %}
                                        
                                    </ul>
                                    <ul>
                                    
                                        <li><a href="/contact">Contact</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-box text-lg-center">
                                <div class="footer-logo">
                                    <a href="/"><img src="/static/media/logo.png" alt="logo"></a>
                                </div>
                                <p>We are a 100% free Mod file sharing company. All rights to the games supported go to their respective developers</p>
                                <!-- <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Newsltter Sign Up!">
                                    <div class="input-group-append">
                                        <button class="item-btn" type="button"><i class="fas fa-angle-right"></i></button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <!-- <div class="footer-box">
                                <h3 class="footer-box-title">
                                    Follow Us On
                                </h3>
                                <div class="footer-social">
                                    <ul class="social-icon">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-github-alt"></i></a></li>
                                        <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-wrap">
                <div class="container">
                    <div class="footer-copyright">Copyright©2020 Koi Mods. All Rights Reserved</div>
                    <div class="footer-legal">
                        <p>
                            All games and video game developers listed on this page are fictional. Any resemblence to any real games or game companies is coincidential.
                        </p>
                        <p>This site is proof of concept. Please do not actually upload anything as the database is cleaned regularly, and your data will not persist.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--=====================================-->
        <!--=            Sidebar Start          =-->
        <!--=====================================-->
        <!-- <div class="sidebar-nav-menu" id="sidebar-nav">
            <button class="close-btn sidebar-toggle"><i class="fas fa-times"></i></button>
            <div class="sidebar-logo">
                <a href="/">
                    <img src="//static/media/logo.png" alt="Side Logo">
                </a>
            </div>
            <ul class="menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="/category1.html">Games</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="item-social">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </div> -->

        <!--=====================================-->
        <!--=      Header Search Start          =-->
        <!--=====================================-->
        <div id="header-search" class="header-search">
            <button type="button" class="close">×</button>
            <form class="header-search-form">
                <input type="search" value="" placeholder="Search here..." />
                <button type="submit" class="search-btn">
                    <i class="flaticon-search"></i>
                </button>
            </form>
        </div>

    </div>
    <!-- Dependencies Js -->
    <script src="/static/jquery.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/jquery.nivo.slider.js"></script>
    <script src="/static/home.js"></script>
    <script src="/static/owl.carousel.min.js"></script>
    <script src="/static/jquery.magnific-popup.min.js"></script>
    <script src="/static/sal.js"></script>
    <script src="/static/select2.min.js"></script>
    <script src="/static/isotope.pkgd.min.js"></script>
    <script src="/static/imagesloaded.pkgd.min.js"></script>
    <script src="/static/validator.min.js"></script>
    <script src="/static/jquery.meanmenu.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>
    <script src="https://kit.fontawesome.com/21127d078c.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- Custom Js -->
    <script src="/static/app.js"></script>

</body>

</html>