{% extends 'base.html' %}
{% block title %}logged in home{% endblock %}

{% block content %}

<!--=====================================-->
        <!--=        Slider Area Start      	=-->
        <!--=====================================-->
        <div class="slider-area slider-layout2 dark-overlay">
            <div class="bend niceties preview-1">
                <div id="ensign-nivoslider-1" class="slides">
                    <img src="/static/media/slider/slide2-1.jpg" alt="slider" title="#slider-direction-1" />
                    <img src="/static/media/slider/slide2-2.jpg" alt="slider" title="#slider-direction-2" />
                    <img src="/static/media/slider/slide2-1.jpg" alt="slider" title="#slider-direction-3" />
                </div>
                <div id="slider-direction-1" class="t-cn slider-direction">
                    <div class="slider-content s-tb slide-1">
                        <div class="text-left title-container s-tb-c">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-9">
                                        <div class="item-category bg-green">Action</div>
                                        <div class="item-date"><i class="flaticon-clock"></i> 27 Jan, 2020</div>
                                        <h1 class="item-title"><a href="single-post1.html">War look the next Forward 2020</a></h1>
                                        <div class="item-paragraph">Nimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</div>
                                        <div class="post-meta-light">
                                            <ul>
                                                <li class="post-author">
                                                    <div class="author-icon bg-blueviolet">
                                                        <i class="flaticon-user"></i>
                                                    </div>
                                                    <div class="author-content">
                                                        <div class="item-text">Posted by</div>
                                                        <div class="author-name"><a href="#">Steven Jones</a></div>
                                                    </div>
                                                </li>
                                                <li class="meta-action"><i class="flaticon-heart"></i>2,350</li>
                                                <li class="meta-action"><i class="flaticon-comment-white-oval-bubble"></i>1,380</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="post-list-layout2">
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="slider-direction-2" class="t-cn slider-direction">
                    <div class="slider-content s-tb slide-2">
                        <div class="text-left title-container s-tb-c">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-9">
                                        <div class="item-category bg-green">Action</div>
                                        <div class="item-date"><i class="flaticon-clock"></i> 27 Jan, 2020</div>
                                        <h1 class="item-title"><a href="single-post1.html">War look the next Forward 2020</a></h1>
                                        <div class="item-paragraph">Nimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</div>
                                        <div class="post-meta-light">
                                            <ul>
                                                <li class="post-author">
                                                    <div class="author-icon bg-blueviolet">
                                                        <i class="flaticon-user"></i>
                                                    </div>
                                                    <div class="author-content">
                                                        <div class="item-text">Posted by</div>
                                                        <div class="author-name"><a href="#">Steven Jones</a></div>
                                                    </div>
                                                </li>
                                                <li class="meta-action"><i class="flaticon-heart"></i>2,350</li>
                                                <li class="meta-action"><i class="flaticon-comment-white-oval-bubble"></i>1,380</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="post-list-layout2">
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="slider-direction-3" class="t-cn slider-direction">
                    <div class="slider-content s-tb slide-3">
                        <div class="text-left title-container s-tb-c">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-9">
                                        <div class="item-category bg-green">Action</div>
                                        <div class="item-date"><i class="flaticon-clock"></i> 27 Jan, 2020</div>
                                        <h1 class="item-title"><a href="single-post1.html">War look the next Forward 2020</a></h1>
                                        <div class="item-paragraph">Nimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</div>
                                        <div class="post-meta-light">
                                            <ul>
                                                <li class="post-author">
                                                    <div class="author-icon bg-blueviolet">
                                                        <i class="flaticon-user"></i>
                                                    </div>
                                                    <div class="author-content">
                                                        <div class="item-text">Posted by</div>
                                                        <div class="author-name"><a href="#">Steven Jones</a></div>
                                                    </div>
                                                </li>
                                                <li class="meta-action"><i class="flaticon-heart"></i>2,350</li>
                                                <li class="meta-action"><i class="flaticon-comment-white-oval-bubble"></i>1,380</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="post-list-layout2">
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                    <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=====================================-->
        <!--=            Post Start           =-->
        <!--=====================================-->
        <section class="post-wrap-layout6">
            <div class="container">
                <div class="row gutters-40">
                    <div class="col-xl-3 col-lg-4 col-md-6 order-lg-1">
                        <div class="widget widget-most-viewed">
                            <div class="heading-layout1">
                                <h3 class="heading-title">Most Viewed</h3>
                            </div>
                            <div class="grid-post">
                                <div class="item-img">
                                    <img src="/static/media/post/post13.jpg" alt="Post">
                                    <div class="item-tag bg-orange text-white">Scoccer</div>
                                </div>
                                <div class="item-content">
                                    <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                    <h3 class="post-title"><a href="single-post1.html">Top 10 Best Computer games in the Markting agency here 2018 games.</a></h3>
                                </div>
                            </div>
                            <div class="list-post">
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post7.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media mb-0 pb-0 border-0">
                                    <div class="item-img">
                                        <img src="/static/media/post/post8.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-6 order-lg-3">
                        <div class="heading-layout1">
                            <h2 class="heading-title">Upcoming Games</h2>
                        </div>
                        <div class="widget-upcoming-post">
                            <div class="post-list-layout2">
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post7.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post8.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post9.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post10.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post8.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">Hitlist ast Computer ar in the market ...</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-8 col-md-12 order-lg-2">
                        <div class="heading-layout1">
                            <h2 class="heading-title">Featured Games</h2>
                            <div class="heading-icon">
                                <a href="#" class="active"><i class="flaticon-left-arrow-1"></i></a>
                                <a href="#"><i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                        <div class="row gutters-2">
                            <div class="col-md-6">
                                <div class="post-grid-layout3 post-grid11">
                                    <div class="post-img">
                                        <img src="/static/media/post/post37.jpg" alt="Games">
                                        <div class="item-category bg-green">Mission</div>
                                    </div>
                                    <div class="post-content">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h3 class="post-title"><a href="single-post1.html">Action dummy teon text ofprinting type setting games 2018</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-grid-layout3 post-grid11">
                                    <div class="post-img">
                                        <img src="/static/media/post/post38.jpg" alt="Games">
                                        <div class="item-category bg-dodger-blue">Animation</div>
                                    </div>
                                    <div class="post-content">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h3 class="post-title"><a href="single-post1.html">Action dummy teon text ofprinting type setting games 2018</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-grid-layout3 post-grid11">
                                    <div class="post-img">
                                        <img src="/static/media/post/post39.jpg" alt="Games">
                                        <div class="item-category bg-blueviolet">Football</div>
                                    </div>
                                    <div class="post-content">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h3 class="post-title"><a href="single-post1.html">Action dummy teon text ofprinting type setting games 2018</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-grid-layout3 post-grid11">
                                    <div class="post-img">
                                        <img src="/static/media/post/post40.jpg" alt="Games">
                                        <div class="item-category bg-amaranth">Racing</div>
                                    </div>
                                    <div class="post-content">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h3 class="post-title"><a href="single-post1.html">Action dummy teon text ofprinting type setting games 2018</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=           Ad Banner Start        	=-->
        <!--=====================================-->
        <div class="ad-banner-layout1 margin-bottom-40">
            <div class="container">
                <a href="#">
                    <img src="/media/figure/ad6.jpg" alt="Ad">
                </a>
            </div>
        </div>
        <!--=====================================-->
        <!--=            Post Start           =-->
        <!--=====================================-->
        <section class="margin-bottom-30">
            <div class="container">
                <div class="heading-layout1">
                    <h2 class="heading-title">Most Viewed Games</h2>
                    <div class="heading-icon">
                        <a href="#" class="active"><i class="flaticon-left-arrow-1"></i></a>
                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="row gutters-1">
                    <div class="col-lg-3 col-sm-6">
                        <div class="post-grid-layout2 post-grid10">
                            <div class="item-img">
                                <img src="/static/media/post/post33.jpg" alt="Post">
                                <div class="item-category bg-amaranth">Racing</div>
                            </div>
                            <div class="item-content">
                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                <h3 class="post-title"><a href="single-post1.html">Top 10 Best Computea ety kers in the Markting games here 2018 games.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="post-grid-layout2 post-grid10">
                            <div class="item-img">
                                <img src="/static/media/post/post34.jpg" alt="Post">
                                <div class="item-category bg-orange">Adventure</div>
                            </div>
                            <div class="item-content">
                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                <h3 class="post-title"><a href="single-post1.html">Top 10 Best Computea ety kers in the Markting games here 2018 games.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="post-grid-layout2 post-grid10">
                            <div class="item-img">
                                <img src="/static/media/post/post35.jpg" alt="Post">
                                <div class="item-category bg-green">Action</div>
                            </div>
                            <div class="item-content">
                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                <h3 class="post-title"><a href="single-post1.html">Top 10 Best Computea ety kers in the Markting games here 2018 games.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="post-grid-layout2 post-grid10">
                            <div class="item-img">
                                <img src="/static/media/post/post36.jpg" alt="Post">
                                <div class="item-category bg-dodger-blue">Animation</div>
                            </div>
                            <div class="item-content">
                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                <h3 class="post-title"><a href="single-post1.html">Top 10 Best Computea ety kers in the Markting games here 2018 games.</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=            Post Start           =-->
        <!--=====================================-->
        <section class="post-wrap-layout4">
            <div class="container">
                <div class="heading-layout1 mb-0">
                    <h2 class="heading-title">Watch Video Now</h2>
                    <div class="heading-icon">
                        <a href="#" class="active"><i class="flaticon-left-arrow-1"></i></a>
                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="post-bg-wrap">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="post-grid-layout1 post-grid9">
                                <div class="post-img">
                                    <img src="/static/media/post/post32.jpg" alt="Post">
                                    <div class="popup-video">
                                        <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <div class="post-category bg-dodger-blue">Animation</div>
                                    <h3 class="post-title"><a href="single-post1.html">Just then her head struck againste now mored hurried.</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="post-list-layout1 post-list5">
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post2.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">The Top Best Computer Speakers Market</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post3.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 25 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">The Top Best Computer Speakers Market</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post4.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 20 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">The Top Best Computer Speakers Market</a></h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img">
                                        <img src="/static/media/post/post3.jpg" alt="Post">
                                    </div>
                                    <div class="media-body">
                                        <div class="post-date"><i class="flaticon-clock"></i> 25 June, 2019</div>
                                        <h4 class="post-title"><a href="single-post1.html">The Top Best Computer Speakers Market</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=            Post Start           =-->
        <!--=====================================-->
        <section class="post-wrap-layout3">
            <div class="container">
                <div class="row gutters-40">
                    <div class="col-lg-9">
                        <div class="heading-layout1">
                            <h2 class="heading-title">Weekly Top Games</h2>
                            <div class="heading-icon">
                                <a href="#" class="active"><i class="flaticon-left-arrow-1"></i></a>
                                <a href="#"><i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                        <div class="row gutters-20">
                            <div class="col-lg-5">
                                <div class="post-grid-layout3 post-grid7">
                                    <div class="post-img">
                                        <img src="/static/media/post/post29.jpg" alt="Games">
                                        <div class="item-category bg-green">Mission</div>
                                    </div>
                                    <div class="post-content">
                                        <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                        <h3 class="post-title"><a href="single-post1.html">Top 10 Best Computer games in the Markting here.</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row gutters-20">
                                    <div class="col-md-6">
                                        <div class="post-grid-layout2 post-grid8">
                                            <div class="item-img">
                                                <img src="/static/media/post/post30.jpg" alt="Post">
                                            </div>
                                            <div class="item-content">
                                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                <h3 class="post-title"><a href="single-post1.html">Computer n the market simply dueyprinting industry.</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="post-grid-layout2 post-grid8">
                                            <div class="item-img">
                                                <img src="/static/media/post/post31.jpg" alt="Post">
                                            </div>
                                            <div class="item-content">
                                                <div class="post-date"><i class="flaticon-clock"></i> 27 June, 2019</div>
                                                <h3 class="post-title"><a href="single-post1.html">Computer n the market simply dueyprinting industry.</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sidebar-widget">
                        <div class="widget widget-ad">
                            <a href="#">
                                <img src="/media/figure/ad5.jpg" alt="Ad">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=            Social Start           =-->
        <!--=====================================-->
        <!-- <section class="social-box-wrap">
            <div class="container-fluid full-width">
                <div class="row no-gutters">
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="social-box-img">
                            <a href="#"><img src="media/social/social1.png" alt="Social"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="social-box-img">
                            <a href="#"><img src="media/social/social2.png" alt="Social"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="social-box-img">
                            <a href="#"><img src="media/social/social3.png" alt="Social"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="social-box-img">
                            <a href="#"><img src="media/social/social4.png" alt="Social"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="social-box-img">
                            <a href="#"><img src="media/social/social5.png" alt="Social"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="social-box-img">
                            <a href="#"><img src="media/social/social6.png" alt="Social"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

{% endblock %}